.card-container{
    display: flex;
    gap: 32px;
}

.login-container{
    display: flex;
    gap: 32px;
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 32px;
}

@media (max-width: 850px) {
    .card-container{
        flex-direction: column;
    }

    .login-container{
        display: flex;
        gap: 32px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 32px;
    }
}

.main-container{
    display: flex;
    gap: 32px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 32px;
}

.page-title{
    font-size: 30px;
}

.form-subtitle{
    font-size: 20px;
}

.link{
    text-decoration: inherit;
}

.central_alignment{
    align-items: center;
}

.year_label{
    font-size: 20px;
}